@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: 68, 68, 68;
  --secondary: 169, 169, 169;
  --neutral: 140, 140, 140;
  --success: 76, 175, 80;
  --failure: 223, 81, 76;
  --warning: 255, 175, 0;
  --blue: 21, 84, 146;
  --purple: 187, 46, 236;
  --border: 230, 230, 230;

  --form-control-color: rgba(var(--blue), 1);
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link>span {
    color: current;
  }

  .selected-tab {
    @apply bg-blueHighlight font-medium text-blue;
  }

  .bg-green-gradient {
    @apply bg-gradient-to-r from-[#17cc7fd9] to-[#139e63];
  }

  .bg-light-green-gradient {
    @apply bg-gradient-to-r from-[#d6edd9] to-[#9cd7a3];
  }

  .bg-red-gradient {
    @apply bg-gradient-to-r from-[#dc241db3] to-[#dc241d];
  }

  .bg-pink-gradient {
    @apply bg-gradient-to-r from-[#f9e5e4] to-[#eeb5b2];
  }

  .bg-blue-gradient {
    @apply bg-gradient-to-r from-[#155492] to-[#0d3c6b];
  }

  .text-blue-gradient {
    @apply bg-gradient-to-r from-[#155492] to-[#0d3c6b] bg-clip-text;
    -webkit-text-fill-color: transparent;
  }

  .bg-neutral-gradient {
    @apply bg-gradient-to-r from-[#eceef280] to-[#eceef2];
  }

  .sidebar-width {
    min-width: 428px;
    width: 428px;
  }

  .shadow-custom {
    box-shadow: 0 -3px 15px 0 rgba(0, 0, 0, 0.25);
  }

  .shadow-custom-sm {
    box-shadow: 0 -3px 15px 0 rgba(0, 0, 0, 0.08);
  }

  .shadow-modal {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  }

  .shadow-popup {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
  }
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  scrollbar-color: #d6d6d6 transparent;
  scrollbar-width: thin;
}

.scroll-container:hover {
  -webkit-mask-position: left top;
}

.scroll-container {
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 4px;
}

/* *::-webkit-scrollbar-thumb:hover {} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(var(--primary), 1)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-disabled {
  background: repeating-linear-gradient(135deg,
      transparent,
      transparent 2px,
      rgba(var(--secondary), .2) 2px,
      rgba(var(--secondary), .2) 4px)
}