@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #444444;
  --secondary: #a9a9a9;
  --neutral: "#666666";
  --success: #4caf50;
  --failure: #df514c;
  --highlight: 21, 84, 146;
  --border: #e6e6e6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .selected-tab {
    @apply text-highlightText bg-highlight font-medium;
  }

  .bg-highlight-green-gradient {
    @apply bg-gradient-to-r from-[#17cc7fd9] to-[#139e63];
  }

  .bg-highlight-red-gradient {
    @apply bg-gradient-to-r from-[#dc241db3] to-[#dc241d];
  }

  .bg-highlight-blue-gradient {
    @apply bg-gradient-to-r from-[#155492] to-[#0d3c6b];
  }

  .text-highlight-blue-gradient {
    @apply bg-gradient-to-r from-[#155492] to-[#0d3c6b] bg-clip-text;
    -webkit-text-fill-color: transparent;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}